@import "flat-ui";

body {
  background: #f5f5f5;
  .content-container {
    @include border-radius(10px);
    border: 1px solid #dddddd;
    background: #fff;
    padding: 10px;
  }
}

.navbar-top {
  .container {
    width: 940px
  }
  .nav {
    width: 100%
  }
  .nav .logout {
    float: right;
  }
  .nav li:first-child a { padding-left: 0 }
  .nav li:last-child a { padding-right: 0 }

  .nav .active a, .nav .active a:hover {
    @include box-shadow(none);
    background-color: $firm;
    border-bottom: 4px solid #16a085;
    border-left: none;
    color: #ffffff;
    padding: 13px 15px 14px;
  }
}

.sign-in, .sign-up, .edit-user {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 10px
}

[class*="span"]{
  box-sizing: border-box;
}

.checkbox-container {
  @extend .span3;
  @extend .clearfix;
  .control-label {
    float: left;
    margin-left: 30px
  }
}

.tagsinput {
  float: left;
  height: auto;
  .tag, .tag:hover {
    padding: 6px 13px;
  }
}
